.blog{
    align-items: center;
    justify-content: center;
    width: 100%;
    display: flex;
}
.blog-1{
    width: 80%;
    display: flex;
    margin-top: 100px;
}
.blog-2{
    width: 75%;
    align-items: center;
    justify-content: center;
}
.blog-ex{
    display: flex;
}
.blog-2-2{
    width: 28%;
    margin-left: -20px;
}
.blog-3{
    width: 40%;
    margin: 20px;
}
.blog-3-2{
    width: 60%;
    margin: 20px;
    margin-right: 40px;
}
.blog-3 img{
    width: 100%;
    border-radius: 10px;
}
.p11{
    color: #009688;
}
h2{
    color: rgb(56, 56, 56);
    font-size: 25px;
}
h2:hover{
    color: #009688;
    transition: 0.5s;
    cursor: pointer;
}
.p11:hover{
    color: black;
    transition: 0.5s;
    cursor: pointer;
}
p{
    color: #505050;
    font-size: 18px;
}
.hrf{
    text-decoration: none;
    border-bottom: 1px #505050 solid;
    color: #505050;
    font-size: 18px;
    font-weight: 600;
}
a:hover{
    color: #9b9b9b;
    transition: 0.5s;
}
.lsn{
    width: 100%;
    background-color: #ecf4fc;
    display: flex;
    justify-content: center;
}
.nsl{
    width: 80%;
    border: 5px;
}
.ip1{
    width: 95%;
    margin-top: 15px;
    border: none;
    height: 40px;
    font-size: 14px;
    padding-left: 10px;
    border-radius: 5px;
}
.ip2{
    margin-top: 15px;
    margin-bottom: 30px;
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 100%;
    background-color: #009688;
    color: white;
    font-size: 18px;
}
.ip2:hover{
    color: #505050;
    background-color: white;
    transition: 1s;
    box-shadow: 0 0 20px 5px #505050;
    cursor: pointer;
}
.lsm{
   margin-top: 30px;
   color: #272727;
}
.w2{
    margin-top: 100px;
    border-bottom: 1px #929292 solid;
    width: 100%;
    padding-bottom: 10px;
    color: #383838;
    margin-bottom: 50px;
}
.recent{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.recent-1{
    width: 30%;
}
.recent-1 img{
    width: 100%;
    border-radius: 5px;
}
.recent-2{
    width: 70%;
    margin-left: 20px;
}
.recent-2 p:hover{
    color: #505050;
    transition: 0.5s;
    cursor: pointer;
}
.recent-2 h4:hover{
    color: #009688;
    transition: 0.5s;
    cursor: pointer;
}
h3{
    color: #383838;
}
.recent-2 p{
    font-size: 13px;
    margin-top: 2px;
    color: #009688;
}
h4{
    margin-top: -2px;
}
.tags{
    width: 100%;
}
.tags span{
    font-size: 18px;
    color: #505050;
    letter-spacing: 1px;
}
.tags span:hover{
    color: #009688;
    cursor: pointer;
    transition:1s;
}
.new1{
    display: flex;
    justify-content: center;
    width: 100%;
}
.new1 div{
    width: 30%;
    margin: 10px;
}
.new1 div img{
    width: 100%;
    border-radius: 5px;
}
